<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<http pattern="/skin/**" security="none" />
	<http pattern="/favicon.ico*" security="none" />

	<http authentication-manager-ref="authenticationManager" entry-point-ref="customAuthenticationEntryPoint">
		<!-- 登录页 -->
		<intercept-url pattern="/login.action*" access="permitAll" />
		<!-- 用户 -->
		<intercept-url pattern="/user/**" access="hasAnyRole('ROLE_USER_MANAGE','ROLE_WECHAT_USER_MANAGE')" />
		<!-- 其它 -->
		<intercept-url pattern="/**" access="hasRole('ROLE_VISIT_MANAGE')" />

		<!-- 自定义认证过滤器 -->
		<custom-filter ref="customAuthenticationFilter" position="FORM_LOGIN_FILTER" />
		<!-- 自定义退出成功处理器 -->
		<logout logout-url="/doLogout.action" success-handler-ref="customLogoutSuccessHandler" />
		<headers>
			<!-- Iframe页面允许被其它页面嵌入 -->
			<frame-options disabled="true" />
		</headers>
		<csrf request-matcher-ref="customRequiresCsrfMatcher" />
	</http>

	<!-- 认证入口点 -->
	<beans:bean id="customAuthenticationEntryPoint" class="com.xinmy.core.security.CustomAuthenticationEntryPoint">
		<beans:constructor-arg name="loginUrl" value="/login.action" />
	</beans:bean>

	<!-- 认证过滤器 -->
	<beans:bean id="customAuthenticationFilter" class="com.xinmy.core.security.CustomAuthenticationFilter">
		<beans:constructor-arg name="filterProcessesUrl" value="/doLogin.action" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="authenticationSuccessHandler" ref="customAuthenticationSuccessHandler" />
		<beans:property name="authenticationFailureHandler" ref="customAuthenticationFailureHandler" />
	</beans:bean>

	<!-- 认证管理器 -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="customAuthenticationProvider" />
	</authentication-manager>

	<!-- 认证服务提供者 -->
	<beans:bean id="customAuthenticationProvider" class="com.xinmy.core.security.CustomAuthenticationProvider" />

	<!-- 登录认证成功处理器 -->
	<beans:bean id="customAuthenticationSuccessHandler" class="com.xinmy.core.security.CustomAuthenticationSuccessHandler" />

	<!-- 登录认证失败处理器 -->
	<beans:bean id="customAuthenticationFailureHandler" class="com.xinmy.core.security.CustomAuthenticationFailureHandler" />

	<!-- 退出登录处理器 -->
	<beans:bean id="customLogoutSuccessHandler" class="com.xinmy.core.security.CustomLogoutSuccessHandler" />

	<!-- CSRF拦截地址匹配器 -->
	<beans:bean id="customRequiresCsrfMatcher" class="com.xinmy.core.security.CustomCsrfMatcher">
		<beans:property name="allowedUrls">
			<beans:set>
				<!-- 登录 -->
				<beans:value>/api/user/login.action</beans:value>
			</beans:set>
		</beans:property>
	</beans:bean>
</beans:beans>